距離<span id="distanceView">0</span><input id="distanceInput" type="number" name="distance" value="0" min="0"/><br />
時間<span id="hoursView">0</span><input id="hoursInput" type="range" name="hours" max="10" min="0" value="0"/><br />
分<span id="minutesView">0</span><input id="minutesInput" type="range" name="minutes" max="60" min="0" value="0"/><br />
<input id="calc" type="button">結果表示</input>
ペース<span id="speedView" ></span>

