  <div id="infoPanel" class="well form-search">
    <p>
      <div id="distancePanelShow">
        <span id="distanceView">0</span>
        km
      </div>を

      <div id="timePanelShow">
        <span class="hoursView">0</span>
          時間
        <span class="minutesView">0</span>
        　分で走る
      </div>
    </p>
  </div>
  <div id="distancePanel" class="well form-search" style="display:none;">
    <p>
      <button type="button" onclick="updateDistance(42.195)">フルマラソン</button>
    </p>
    <p>
      <button type="button" onclick="updateDistance(21.0975)">ハーフマラソン</button>
    </p>
    <p>
      <button type="button" onclick="updateDistance(10)">10km</button>
    </p>
    <p>
      <button type="button" onclick="updateDistance(5)">5km</button>
    </p>
    <p>
      <input id="distanceInput" type="number" name="distance" min="0"/>
    </p>
  </div>

  <div id="timePanel" class="well form-search" style="display:none;">
    <div>
      <span class="hoursView">0</span>時間<span class="minutesView">0</span>分
    </div>
    <div>
      0<div id="hoursInput"></div>10
    </div>
    <div>
      0<div id="minutesInput"></div>60
    </div>
    <button  id="timeDecide">決定</button>
  </div>
  <div id="execPanel" class="well form-search" style="display:none;">
    <p>
      <span id="speedView" ></span>
    </p>
  </div>
